<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- World File -->
  <arg name="world_file" default="$(find chase_it)/worlds/project.world"/>

  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>


<!-- Robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Launch other relevant files-->
  <include file="$(find chase_it)/launch/robot_description.launch"/>

 <!-- Find robot Description-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find chase_it)/urdf/chase_it.xacro'"/>

  <!-- Spawn Robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param robot_description -model chase_it 
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

  <!--launch rviz-->
<node name="rviz" pkg="rviz" type="rviz" respawn="false"/>

 <!-- The drive_bot node -->
  <node name="drive" type="drive" pkg="chase_it" output="screen">
   <rosparam>
     linear_x: 0
     angular_z: 0
   </rosparam>
  </node>

  <node name="process" type="process" pkg="chase_it" output="screen">
  </node>
  
</launch>
